In [3]:
#Dictionary contains set of key and values
D={}
D['name']='sachin'  #defining key and value
D['age']=40         
D

{'age': 40, 'name': 'sachin'}

In [6]:
D=dict(name='virat',age=35)   #defining key and value in a single statement
D

{'age': 35, 'name': 'virat'}

In [1]:
l1=[('name','rahul'),('age',40)] #list of tuples to dictionary
dict(l1)

{'name': 'rahul', 'age': 40}

In [5]:
#adding and rePlacing values use subscriPt oPerator
D2 = {}
D2['john']='1234' # adding
D2

{'john': '1234'}

In [6]:
D2['john']='5678' #rePlacing
D2

{'john': '5678'}

In [7]:
D2['john']

'5678'

In [3]:
#dictionary will always print that key and value first which contains an intger value instead of string
D3={}
D3['laptop']='mac'
D3['count']=10
D3

{'laptop': 'mac', 'count': 10}

In [31]:
A='i want %(count)d %(laptop)s laptops'%D3
A

# d and s for integer and string

'i want 10 mac laptops'

In [4]:
#comparing two dictionary
A={'I':'India','A':'America'}
B={'I':'Italy','A':'America'}

#A==B
#A!=B
C=A
C
C==A

True

In [1]:
#METHOD OF DICT CLASS
#KEYS()

asicode={'A':65,'B':66,'C':67,'D':68}
#asicode.keys()  #return a sequence of keys
asicode.values()   #return a sequence of values
#asicode.items()     #return a sequence of tuples
#asicode.clear()     #delete all entries
#asicode
#asicode.get('B')     #return the values of key
#print(asicode.pop('C'))   # remove the key & return the value
#asicode

dict_values([65, 66, 67, 68])

In [19]:
#traversing dictionaries

grades={'ram':'A','sham':'B','tom':'C', 'dom':'D'}
for key in grades:
    print(key,':',(grades[key]))

ram : A
sham : B
tom : C
dom : D

In [13]:
grades={'ram':'A','sham':'B','tom':'C', 'dom':'D'}
for key in grades.keys():
    print(key,':',grades.get(key))

ram : A
sham : B
tom : C
dom : D

In [16]:
#nested dictionaries

#{}
#['john']
players={'VIRAT':{'ODI':7212,'TEST':3245},
         'SACHIN':{'ODI':18426,'TEST':15921}}

players['VIRAT']['ODI']
#players['VIRAT']['TEST']

#players['SACHIN']['ODI']
#players['SACHIN']['TEST']

7212

In [19]:
#traversing nested dictionaries
players={'VIRAT':{'ODI':7212,'TEST':3245},
         'SACHIN':{'ODI':18426,'TEST':15921}}
for name,detail in players.items():
    print('',name)
    print('',detail)

 VIRAT
 {'ODI': 7212, 'TEST': 3245}
 SACHIN
 {'ODI': 18426, 'TEST': 15921}

In [25]:
players={'VIRAT':{'ODI':7212,'TEST':3245},
         'SACHIN':{'ODI':18426,'TEST':15921}}
for name,detail in players.items():
    print('player :', name)
    print('run score in odi :',detail['ODI'])
    print('run score in test :', detail['TEST'])

player : VIRAT
run score in odi : 7212
run score in test : 3245
player : SACHIN
run score in odi : 18426
run score in test : 15921

In [27]:
players={'VIRAT':{'ODI':7212,'TEST':3245},
         'SACHIN':{'ODI':18426,'TEST':15921}}
for name, detail in players.items():
    print('',name)
    for key in detail:
        print(key,':',str(detail[key]))

 VIRAT
ODI : 7212
TEST : 3245
 SACHIN
ODI : 18426
TEST : 15921

In [12]:
#write a function histogram that take string as
#parameter and generate a frequency of character in it
s='apple'

def histogram(s):
    D=dict()
    for c in s:
        if c not in D:
            D[c]=1
        else:
            D[c]=D[c]+1
    return D
H=histogram('apple')
print(H)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [2]:
x = input()
d = {}
def abc(s):
    for alpha in s:
        d[alpha]=x.count(alpha)
    print(d)
abc(x)

rahul
{'r': 1, 'a': 1, 'h': 1, 'u': 1, 'l': 1}

# Adding two dictionries with the sum of common value of its elements

In [5]:
dict1 = {'shiwangi':1456 , 'nisha' :  1457 , 'neha' : 1500}
dict2 = {'itashi' : 1478 , 'varsha' : 1600 , 'neha' : 1500}
for key in dict1:
    if key in dict2:
        dict2[key]=dict1[key]+dict2[key]   #adding the values of common keys
    else:
        pass
dict3={**dict1, **dict2}  #merging both the dictionries
print(dict3)

{'shiwangi': 1456, 'nisha': 1457, 'neha': 3000, 'itashi': 1478, 'varsha': 1600}