CREATING LIST

In [1]:
l1 = list() #empty list
l1

[]

In [2]:
l2 = list([10,20,30]) #list with integers
l2

[10, 20, 30]

In [3]:
l3 = list(["hello", "hi", "apple"]) #list with strings
l3

['hello', 'hi', 'apple']

In [4]:
l4 = list(range(0,6)) #creating list with range
l4                    #prints n to m-1

[0, 1, 2, 3, 4, 5]

In [5]:
l5 = list("ishan") #creating list with inbuilt characters
l5                 #if we use () for list and giving an string input then it will split the individual character

['i', 's', 'h', 'a', 'n']

In [8]:
l10=["ishan"]     #if we use [] then it will take input as string value and give us output as a string value
l10

['ishan']

In [6]:
l6 = [10,20,30]
l6

[10, 20, 30]

In [18]:
l7 = ["hello", "hi", "apple"]
l7

['hello', 'hi', 'apple']

In [10]:
l8 = list(["ishan", "hello", 29, 6.0]) #list with diff. types
l8                                     #if we are giving values of different data tyes to our list then we must use [] inside ()

['ishan', 'hello', 29, 6.0]

ACCESSING THE ELEMENTS OF A LIST

In [1]:
l1 = [10,20,30,40,50]   #indexing will start from zero
l1[1]

20

NEGATIVE INDEX

In [24]:
l1 = [10,20,30,40,50]
l1[-2]

40

LIST SLICING [START:END]

In [1]:
l1 = [10,20,30,40,50,60,70]
l1[2:5]   #it will slice the list from index n to m-1

[30, 40, 50]

LIST SLICING WITH STEP SIZE

In [3]:
l1 = ["hello", "hi", "class", 2, 3, 2.3, 3.4,4.9]
l1[0:8:2] #it will slice the list from index 0 to index (8-1)=7 element with jump of (2-1)=1 element

['hello', 'class', 3, 3.4]

In [2]:
l1=[1,2,3,4]
l1[:2] #access first two elements of the list

[1, 2]

In [6]:
l1[::-1] #display list in reverse order

[4, 3, 2, 1]

PYTHON INBULIT FUNCTIONS FOR LISTS

In [13]:
l1 = ["red","orange", "green","blue","pink"]
len(l1) #return the size of list

5

In [14]:
l1 = [10,20,30,40,50]
max(l1)

50

In [15]:
min(l1)

10

In [16]:
sum(l1)

150

In [17]:
l1 = ["red","orange", "green","blue","pink"]
import random
random.shuffle(l1)
l1

['orange', 'green', 'pink', 'blue', 'red']

LIST OPERATOR

In [18]:
#  + Operator
a = [1,2,3]
#b= [4,5,6]
b = ['x','y','z']
a+b

[1, 2, 3, 'x', 'y', 'z']

In [19]:
#   * Operator
c = [10,20]
#c = ["ishan"]
z = 5*c
z

[10, 20, 10, 20, 10, 20, 10, 20, 10, 20]

In [20]:
#   in Operator
d = [40,50,60]
80 in d

False

In [2]:
# is Operator,,,,, because python creates two different objects.
A = ["a","b","c"]
B = ["a","b","c"]
#B = A
A is B

False

In [22]:
id(A)

2411240465920

In [23]:
id(B)

2411239594112

In [1]:
a=4 #in case of normal assignment since the new variabe updates in the same memory location so it will return true
b=4
a=b

In [2]:
a is b

True

In [3]:
id(a)

140721867798400

In [4]:
id(b)

140721867798400

In [24]:
#  del Operator
m = [10,20,30,40,50, 60,70] 
del m[2]    #it will delete the element at index 2 of list
m

[10, 20, 40, 50, 60, 70]

In [25]:
del m[-1]
m

[10, 20, 40, 50, 60]

In [26]:
del m[0:2]
m

[40, 50, 60]

In [63]:
del m[:] #it will delete all the elements of list
m

[]

COMPREHENSION

In [27]:
#without using list comprehension
l1 = [10,20,30,40,50, 60,70]
for i in range(0,len(l1)):
    l1[i] = l1[i] + 10
l1

[20, 30, 40, 50, 60, 70, 80]

In [28]:
#using list comprehension
l1 = [10,20,30,40,50, 60,70]
l1 = [x+10 for x in l1]
l1

[20, 30, 40, 50, 60, 70, 80]

In [4]:
#write a program to print all even numbers from a list
l1 = [1,2,3,4,5,6,7,8]
l1 = [x for x in l1 if x%2==0]
l1

[2, 4, 6, 8]

LIST METHODS

In [30]:
#append= to add an element at the end of the list
l1 = ['x','y','z']
l1.append('b')
l1

['x', 'y', 'z', 'b']

In [31]:
l1 = ['x','y','z']
l1.clear() #clear list
l1

[]

In [32]:
l1 = ['x','y','z','x','z']
l1.count('x') #count the number of times the element appears

2

In [33]:
l1 = ['x','y','z']
l2 = l1.copy() #copy contents of l1
l2

['x', 'y', 'z']

In [34]:
l1 = ['x','y','z']
l2 = [1,2,3]
l1.extend(l2) #appends all elements to list 1 of list 2
l1

['x', 'y', 'z', 1, 2, 3]

# Difference between apeend() and extend()

In [35]:
l1 = ['x','y','z']
l1.extend('34') #if we are giving a string value in extend then it will append as individual integers
l1

['x', 'y', 'z', '3', '4']

In [1]:
l1 = ['x','y','z']
l1.append('34') #if we are giving a string value in append then it will append in same way which we have entered
l1

['x', 'y', 'z', '34']

In [36]:
l1 = ['y','x','z','x']
l1.index('x') #returns the index of first occurance of element

1

In [37]:
l1 = ['x','y','z']
l1.insert(1,50) #insert element 50 at index 1
l1

['x', 50, 'y', 'z']

In [38]:
l1 = ['x','y','z']
l1.pop(0) #remove element at that index number
l1

['y', 'z']

In [38]:
l1 = ['x','y','z']
l1.pop() #removes last element
l1

['x', 'y']

In [69]:
l1 = ['x','y','z','x']
l1.remove('x') #removes the first occurrence of the element x
l1

['y', 'z', 'x']

In [39]:
l1 = ['x','y','z']
l1.reverse() #reverse the list
l1

['z', 'y', 'x']

In [40]:
l1 = ['b','a','d','f','c','e']
l1.sort()
l1

['a', 'b', 'c', 'd', 'e', 'f']

LIST INSIDE A LIST

In [57]:
l1 = ['x','y','z',[1,2]] #inner list is counted as one element
len(l1)

4

LIST AND STRINGS

In [41]:
p = 'python'
l1 = list(p)
l1

['p', 'y', 't', 'h', 'o', 'n']

In [2]:
a = 'i love python programming'
l1 = a.split()
l1

['i', 'love', 'python', 'programming']

In [33]:
a = 'i-love-python-programming'
l1=a.split('-')
l1

['i', 'love', 'python', 'programming']

In [42]:
a = 'i_love python programming'
l1=a.split('_')#if we are using underscore then it will slice the list in the parts before the
               #underscore and after the underscore
l1

['i', 'love python programming']

In [6]:
z = ['i', 'love', 'python', 'programming']
" ".join(z)

'i love python programming'

PASSING LIST TO FUNCTION

In [71]:
def print_list(lst):
    for x in lst:
        print(x,end=" ")
l1 = [10,20,30,40]
print_list(l1)

10 20 30 40

RETURNING LIST FROM A FUNCTION

In [2]:
def reverse_list(lst):
    lst.reverse()
    return lst
l1 = [10,20,30,40]
reverse_list(l1)

[40, 30, 20, 10]

In [28]:
import random
print(random.random())

0.6841528968641303

In [43]:
print(random.randint(1,6)) #it will print randomly a integere value between 1 and 6

2

In [44]:
a = [10,20,30]
print(a.reverse())
a

None

[30, 20, 10]

# Aliasing and Cloaning

In [8]:
#Aliasing
a = [1,2,3]
b=a  
b[0]=5    #in Aliasing both list gets update with updated value
print(a)
print(b)

[5, 2, 3]
[5, 2, 3]

In [6]:
#Cloning
a = [1,2,3]
b = a[:]  #in cloning only the list we are creating as clone of first list gets updated
b[0]= 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [4]:
l1 = [1,2,3,4,5,6,7,8]
l1 = [x%2==0 for x in l1]
l1

[False, True, False, True, False, True, False, True]