78   Integer
21.98 float
'Q' character
'hello' string

In [2]:
type (78)

int

In [1]:
type(21.8)

float

In [2]:
type(21.88)

float

In [3]:
type('q')

str

In [4]:
type('ishan')

str

variables

In [5]:
#integer
type(-10)

int

In [6]:
int(12.345) #type casting of float to int

12

In [1]:
int(12.78)  #it will only typecaste the values it will not roundoff them

12

In [7]:
int('123')  #type casting of string value to int

123

In [8]:
float(12.3467890909035400)

12.34678909090354

In [9]:
#boolean True False == != <= >=
type(True)

bool

In [10]:
type(False)

bool

In [11]:
5==4

False

In [12]:
5==5

True

In [3]:
True = False   #we can't assign a keyword to another keyword
while True:
    print(True)
    break

SyntaxError: cannot assign to True (<ipython-input-3-ae3a4d58db3f>, line 1)

In [2]:
#string
d = 'hello world' #we can use both single inverted comma as well as double inverted comma
c = "hi"
print(d)
print(c)

hello world
hi

In [14]:
str(1.2)

'1.2'

In [15]:
'hello ' + 'world' #addition of two string values

'hello world'

In [16]:
#print
print('abc')

abc

In [17]:
print('hello')
print('world')
print('good bye')

hello
world
good bye

In [6]:
#end key word
print('hello', end=" ")#end keyword is used for printing the output in a single line here also we can single as well as double "
print('world', end=' ')
print('good bye')

hello world good bye

In [19]:
#giving values to variables
c = 1
d = 2
e = 3
print(c)
print(d)
print(e)

1
2
3

In [29]:
#checking the authenticity of keyword
import keyword 
keyword.iskeyword("if")

True

In [5]:
p=q=100
print(p,q)

100 100

In [ ]:
#scope of a variable

In [20]:
#write a program to swap two numbers
a = 5
b = 7
temp = a
a = b
b = temp
print(a,b)

7 5

In [21]:
#swap two numbers without using third variable
a = 8
b = 9
a,b=b,a
print("now a is:",a,"now b is:",b)

now a is: 9 now b is: 8

In [22]:
#write a program to calculate area of rectangle
length = 10
width = 20
area = length * width
print(area)

200

In [23]:
#input function
a = input()  
b = input()
print(a,b)

2
3
2  3

In [24]:
l = int(input())
w = int(input())
area = l*w
print(area)

3
4
12

In [6]:
x = input()  #if we are not specifying input() fuction then entered input will be considered as string value
print('entered number is: ', x)
print('type of x is: ')
print(type(x))

23
entered number is:  23
type of x is:
<class 'str'>

In [7]:
x = int(input()) #here we have specified the input() as int(input()) so it is returning us as int
print("Entered value is:",x)
print(type(x))

23
Entered value is: 23
<class 'int'>

In [8]:
#write a program to calculate area of rectangle by taking input from user
l = int(input())
w = int(input())
area = l*w
print(area)

3
4
12

In [13]:
#write a program to calculate the area of a circle
radius = int(input())
pi = 3.1416
area = pi * radius * radius
print(area)

43
5808.8184

In [14]:
format(area, '.3f') #it will print three digits after decimal

'5808.818'

In [16]:
#inbuilt function
#abs returns absolute value (positive value) of x 
abs(2.26)

2.26

In [17]:
abs(-2)

2

In [2]:
#for absolute value
a=-10
abs(a)

10

In [18]:
#max
max(1,2,3,4,5)

5

In [3]:
max(100,100.0)

100

In [4]:
max('hello','zello')#it compares first character then second then third and gives accordingly output

'zello'

In [5]:
max('h','H')

'h'

In [6]:
max('zhello','zaello')

'zhello'

In [31]:
#min
min(1,2,3,4,5)

1

In [32]:
#pow
pow(2,3)

8

In [33]:
#round
round(10.3)

10

In [30]:
round(-0.5) #while it will give -1 in python 2.7

0

In [34]:
round(10.6)

11

In [35]:
round(10.5)

10

In [19]:
#ceil: it will return the upper bound of number
import math
a = 10.0001
math.ceil(a)

11

In [37]:
math.ceil(10.89)

11

In [38]:
math.floor(10.78) #floor() : it will return the lower bound of number

10

In [39]:
math.floor(10.11)

10

In [40]:
math.sqrt(9)

3.0

In [41]:
# ord and chr
ord('a')

97

In [42]:
ord('A')  #it will print the ASCII value pf character

65

In [43]:
chr(97) #it will print the character associated with the entered ASCII value

'a'

In [44]:
chr(65)

'A'

In [1]:
(4+3%5) #modulous has higher precedence than + or -

7

# Star*******

In [20]:
3%5   #if number is smaller then the modulus function will return the same number

3

In [21]:
5%3

2

In [2]:
(4+3)%5

2

In [46]:
#write a program to add two number
#write a profram to subtract two numbers
#write a program to multiply two numbers
#write a program to divide two numbers
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print("float division is:",a/b) #float division
print("int division is:",a//b) #int division
print(a%b)

9
4
13
5
36
float division is: 2.25
int division is: 2
1

In [47]:
#float division
7/2

3.5

In [48]:
#int division
7//2

3

In [49]:
#Modulo %
10 % 4

2

In [50]:
10 % 2

0

In [22]:
3%5    #if number is smaller then the modulus function will return the same number

3

In [51]:
1234 % 10

4

# write program to reverse any four digit number

In [ ]:
num =int(input())
r = num%10 # 1234 = 4
q = num//10 # 1234 = 123
r = (r * 10)+(q % 10) # 40 + 3 = 43
q = q//10 # 123 = 12
r = (r*10)+(q%10) # 430 + 2 = 432
q = q//10 # 1
r = (r*10)+(q%10) # 4320 + 1
print(r)

In [52]:
#not operator
True

True

In [53]:
not True

False

In [54]:
# and operator & |
True and True

True

In [55]:
True and False

False

In [56]:
# or operator 
True or True

True

In [57]:
True or False

True

In [23]:
False or True

True

In [24]:
False or False

False

In [60]:
a = 2
b = 2
a==b

True

In [61]:
#if statement

In [25]:
#write a program to check if two numbers have same value
num1 = int(input())
num2 = int(input())
if(num1==num2):
    print('equal number')

5
5
equal number

In [70]:
#write a program, if radius is greater than zero 
#then find out area and circumference of circle
r=int(input())
if(r==0):
    print("it's a point not a circle")
else:
    print("Radius is:",3.14*r*r)
    print("and circumference of the circle is:",2*3.14*r)

3
Radius is: 28.259999999999998
and circumference of the circle is: 18.84

In [27]:
#if-else
#write program to find greater number between two numbers
num1 = int(input())
num2 = int(input())
if num1>num2:
    print('num1 is greater:', num1)
else:
    print('num2 is greater:',num2)

68
98
num2 is greater: 98

#greater number between three numbers
num1 = int(input())
num2 = int(input())
num3 = int(input())
if (num1>num2 and num1>num3):
    print('num1 is greater')
elif (num2>num3):
    print('num2 in greater')
else:
    print('num3 is greater')

In [1]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
if (num1>num2 and num1>num3):
    print('num1 is greater')
elif (num2>num3):
    print('num2 in greater')
else:
    print('num3 is greater')

23
45
67
num3 is greater

In [72]:
a = int(input())
b = int(input())
c = a*b
print(c)

3
4
12

In [28]:
2**2**3 # (**)represents exponent power and it's associativity will be from right->left

256

In [74]:
print("hello world")

hello world

In [14]:
import math
num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
print("press these inputs for the operaton you want to perform")
print("a:addition s:subtraction m:multiplication d:division sq:square cu:cube sqrt:square root")
x=input()
if(x=='a'):
    print(num1+num2)
elif(x=='s'):
    print(num1-num2)
elif(x=='m'):
    print(num1*num2)
elif(x=='d'):
    print(num1/num2)
elif(x=='sq'):
     print(pow(num1,2),pow(num2,2))
elif(x=='cu'):
     print(pow(num1,3),pow(num2,3)) 
elif(x=='sqrt'):
    print(math.sqrt(num1),math.sqrt(num2))
else:
    print("invalid input")

Enter the first number16
Enter the second number25
press these inputs for the operaton you want to perform
a:addition s:subtraction m:multiplication d:division sq:square cu:cube sqrt:square root
sqrt
4.0 5.0

In [6]:
a=34
b=90
print(a+b)

124