STRINGS

str CLASS

In [3]:
s1 = str() # empty string class
s2 = str("hello") #create a string object for hello
print(s1)

 hello

In [5]:
s1 = ""
s2 = "hello"
print(s1,s2)

 hello

INBUILT PYHTON FUNCTIONS FOR STRING

In [2]:
a = "PYTHON"
len(a) #to get length

6

In [5]:
min(a) #smallest character present in a string

'H'

In [6]:
max(a) #largest character in a string

'Y'

index[] Operator

In [2]:
s1 = "PYTHON"
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('P', 'Y', 'T', 'H', 'O', 'N')

NEGATIVE INDEX

In [18]:
s = "PYTHON"
s[-1],s[-2],s[-3],s[-4],s[-5],s[-6]

('N', 'O', 'H', 'T', 'Y', 'P')

TRAVERSING STRING WITH for AND while LOOP

In [20]:
s = "India"
for ch in s:
    print(ch,end="")

India

In [1]:
s = "ilovepython"
for ch in range(0,len(s),1): #this will traverse each second character
    print(s[ch],end="")

ilovepython

In [26]:
s = "India"
i = 0
while i < len(s):
    print(s[i],end="")
    i = i + 1

India

IMMUTABLE STRINGS

In [29]:
str1 = "i love python"
str1[0]= "u"
print(str1)

TypeError: 'str' object does not support item assignment

In [7]:
str1 = "i love python"
str2 = "u" + str1[1:]
print(str2)

u love python

STRINGS OPERATORS, Slicing Operator[start:end]

In [3]:
s = "lovely professional university"
s[4:10] #it will go till 10-1=9

'ly pro'

In [39]:
s = "lovely professional university"
s[0:len(s):2] #slicing with step size

'lvl rfsinluiest'

In [4]:
s[: :] #prints entire string

'lovely professional university'

In [7]:
s[::-1] #display string in reverse

'ytisrevinu lanoisseforp ylevol'

In [44]:
s[-1:0:-1] #access the characters of a string from index -1

'ytisrevinu lanoisseforp ylevo'

In [16]:
a1="hello"
ans=''
for i in a1[:-1]:
    ans+=i
    print(ans)

h
he
hel
hell

In [17]:
b=''
len(b)
b=b+str()

0

STRING +, * AND in OPERATORS

In [2]:
s = "my name is ishan"
"name" in s

True

Q. WAP to print all letters from word1 that also appear in word2

In [48]:
w1 = "USA North America"
w2 = "USA South America"
for letter in w1:
    if letter in w2:
        print(letter,end="")

USA orth America

STRING COMPARISON

In [3]:
s1 = "abcd"
s2 = "ABCD"
s1 > s2

True

In [5]:
s1 = "abcd" 
s1.upper()

'ABCD'

In [6]:
s1 = "ABCD" 
s1.lower()

'abcd'

.format() Method()

In [11]:
"my name is %a and i am from %s" %("ishan","Jalandhar")

"my name is 'ishan' and i am from Jalandhar"

In [56]:
"{} plus {} equals {}".format(4,5,"nine")

'4 plus 5 equals nine'

In [8]:
"my name is {0} and i am from {1}".format("ishan","jalandhar")

'my name is ishan and i am from jalandhar'

In [13]:
"i am {0} years old. i love to work on {pc} laptop.".format(29,pc="HP")

'i am 29 years old. i love to work on HP laptop.'

split() METHOD

In [10]:
s1 = "my name is ishan"
s1.split()

['my', 'name', 'is', 'ishan']

In [3]:
ord("a")

97

In [5]:
chr(97)

'a'