TESTING STRINGS

In [4]:
s = "123pyhtonprogramming" 
s.isalnum() #returns True if characters in the string are alphanumeric and there is at least one character

True

In [2]:
s = "python"
s.isalnum()

True

In [2]:
p = "1ishan"
p.isalnum()

True

In [4]:
s = "programming"
s.isalpha()  #returns True if the characters in the strings are alphabetic and there is at one character

True

In [13]:
s = "1python"
s.isalpha()

False

In [6]:
s = "1234"
s.isdigit() # returns True if the characters in the string contain only digits

True

In [17]:
s = "123Go"
s.isdigit()

False

In [18]:
s = "python"
s.islower() #returns true if all the characters in the string are in lowercase

True

In [14]:
s = "PYTHON"
s.isupper() #returns true if all the characters in the string are in uppercase

True

In [8]:
s = " "
s.isspace()  #returns true if the string contains only white space characters

True

SUBSTRING in a STRING

In [4]:
#endswith #returns ture if the string ends with the substring 
s = "python programming"
s.endswith("ing")

True

In [17]:
#startswith #returns true if the string starts with the substring
s = "python programming"
s.startswith("pyt")

True

In [8]:
#find #returns the lowest index wehere the string starts in the string or returns -1 if the string is not found
s = "python programming"
s.find("p")

0

In [10]:
s = "python programming"
s1 = "java"
s.find(s1)

-1

In [10]:
#rfind #returns the highest index and -1 if not found
s = "python programming"
s.rfind("p")

7

In [12]:
#count #returns the number of occurrences of the substring
s = "good morning"
s.count("o")

3

METHODS TO CONVERT A STRING INTO ANOTHER STRING

In [19]:
#capitalize() #returns a copy of string with only the first character capitalised
#capitalizes only the very first character of very first word
s = "hello world"
s.capitalize()

'Hello world'

In [40]:
#lower() #returns a copy of the string with all letters converted into lower case
s = "HELLO"
s.lower()

'hello'

In [42]:
#upper()
s = "hello"
s.upper()

'HELLO'

In [44]:
#title() #capitalised the first letter in each word
s = "welcome to the class of python"
s.title()

'Welcome To The Class Of Python'

In [1]:
s = "heLLo woRlD"
print(s.capitalize())
s = "welcOme to the clASs of pyTHon"
print(s.title())

Hello world
Welcome To The Class Of Python

In [46]:
#swapcase() #converts lower case to upper case and upper case to lower case
s = "HeLlO"
s.swapcase()

'hElLo'

In [25]:
#replace() #it replace a string with another string
s = "i have two cars, two bike, two house"
s1 = s.replace("two", "three")
s1

'i have three cars, three bike, three house'

In [28]:
s = "i have two cars, two bike, two house"
s1=s.replace("o", "e")
s1

'i have twe cars, twe bike, twe heuse'

STRIPPING UNWANTED CHARACTERS FROM A STRING

In [30]:
#lstrip() removes white space from left
s = " hello "
s.lstrip()

'hello '

In [62]:
#rstrip() removes white space from right
s = " hello "
s.rstrip()

' hello'

In [65]:
#strip() removes white space from both sides
s = " hello "
s.strip()

'hello'

FORMATTING STRING

In [2]:
#center(int width) align in center
#ljust(int widht) align to left
#rjust(int width) align to right
s = "ishan kumar"
s.center(50)

'                   ishan kumar                    '

In [12]:
s.ljust(15)

'ishan kumar    '

In [3]:
s.rjust(15)

'    ishan kumar'

In [9]:
str = input()
for i in str:
    print(ord(i),end = " ")
print()
for j in str:
    a = j.swapcase()
    print(ord(a),end = " ")

ishan
105 115 104 97 110
73 83 72 65 78

In [3]:
x = {'h','e','l','l','o'}
print(x)
y = {'hello'}
print(y)

{'h', 'l', 'o', 'e'}
{'hello'}